$font-face: 'Gilroy', sans-serif;
$font-face2: 'Circe', sans-serif;
$lightgray: #CCC;
$gray: #979BAD;
$color: #282828;
$color1: #343434;
$color2: #303030;
$color3: #6D6D6D;
$color4: #D3D3D3;
$accent: #388AF3;
$white: #fff;
$container: 1200px;