<header class="header">
    <div class="logotype header__logotype">
        <a href="#">LOGO</a>
    </div>
    <ul class="navigation header__navigation">
        <li class="navigation__item">
            <a href="#">Проекты</a>
        </li>
        <li class="navigation__item">
            <a href="#">О компании</a>
        </li>
        <li class="navigation__item navigation__item--active">
            <a href="#">Контакты</a>
        </li>
    </ul>
    <div class="header__information">
        <ul class="language header__language">
            <li class="language__item language__item--active">
                <a href="#">ru</a>
            </li>
            <li class="language__item">
                <a href="#">en</a>
            </li>
        </ul>
        <button class="header__start-project">
            <span>
                Начать проект
            </span>
        </button>
    </div>
</header>